body {
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: #ffffff;
}
.menu{
    width: 100% !important;
}
.products-menu{
    width: 100% !important;
    height: 900px !important;
}